.wheel-config {
    background-color: #f8f8f8;
    height: 100vh;

    .tab-header {
        display: flex;
        justify-content: space-around;
        background-color: #ffff;
        padding: 1rem;

        Text {
            flex: 1;
            text-align: center;
            padding: 1rem;
            transition: 0.3s;
            border-bottom: none;

            &.active {
                border-bottom: 1px solid #009688;
            }
        }
    }

    .tab-content {
        margin-top: 2rem;
    }

    .wheel-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
        padding: 3rem;
        background-color: #ffff;
        border-radius: 1rem;
    }

    .btnContainer {
        display: flex;
        gap: 2rem;
    }

    .fix-button {
        color: #009688;
        cursor: pointer;
    }

    .delete-button {
        color: #d72222;
        cursor: pointer;

    }

    .add-wheel-box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        margin: 1rem;
        border-radius: 1rem;
        background-color: #ffff;
        cursor: pointer;

        .add-icon {
            font-size: 1.75rem;
            margin-right: 0.75rem;
        }
    }
}