.lucky-box {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lucky-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.lucky-wheel-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffdea0;
  border-radius: 50%;
}